<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>Mirabella Doors - Custom Doors Houston</title>

    <link rel="shortcut icon" type="image/png" href="">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Charm|Courgette|Fondamento|Lato:100i,400,400i|Marmelad|Sawarabi+Mincho|Ubuntu+Condensed" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Iconic Fonts -->
    {{!-- <link rel="stylesheet" href="/open-iconic/font/css/open-iconic-bootstrap.css"> --}}

    <!-- Bootstrap Sass Override -->
    <link rel="stylesheet" href="/assets/css/bootstrapscss.css">

    <!-- External CSS Style Sheets -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/assets/css/animate.css">

</head>
<body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent text-uppercase mx-3 wow fadeInDown">
        <a class="navbar-brand wow zoomIn delay-.5s" href="/home">Mirabella Doors Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link px-3" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="/mirabelladifference">The Mirabella Difference</a>
                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link px-3" href="#">Custom Doors</a>
                </li> --}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Custom Doors
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/contemporarydoors">Contemporary</a>
                        <a class="dropdown-item" href="/traditionaldoors">Traditional</a>
                        {{!-- <div class="dropdown-divider"></div> --}}
                        <a class="dropdown-item" href="/doorfinishes">Finishes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/doordesignlibrary">Door Design Library</a>
                        
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="/balconiesandrailings">Balconies and Railings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-3" id="noBorder" href="/contactus">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>


    {{{ body }}}


    <!-- Footer -->
    <nav class="wow fadeIn navbar sticky-bottom navbar-dark bg-gradient-dark mt-5 py-0">
        <div class="text-sm-center col-md-12 text-md-center col-lg-4 text-lg-left" id="footer-brand">
            <a class="navbar-brand mr-0" href="#">
                MIRABELLA DOORS
                <img src="">
            </a>
        </div>

        <div class="col-md-12 col-lg-4 text-center">
            <a href="https://www.facebook.com/Weloveallpetspetcareservice/" target="_blank" class="mr-2 text-decoration-none">
                <span class="social_facebook_circle text-light d-inline-block" id="we-love-all-pets-facebook-icon"></span>
            </a>
            <a href="https://www.instagram.com/weloveallpetspetcareservice/?utm_source=ig_profile_share&igshid=e9s16wux5rxh" target="_blank" class="mx-2 text-decoration-none">
                <span class="social_instagram_circle text-light d-inline-block" id="we-love-all-pets-instagram-icon"></span>
            </a>
            <a href="https://www.linkedin.com/company/we-love-all-pets/" target="_blank" class="ml-2 text-decoration-none">
                <span class="social_linkedin_circle text-light d-inline-block" id="we-love-all-pets-linkedin-icon"></span>
            </a>
            <p class="mb-0" id="footer-RMN-Web-Design-LLC"><a class="text-decoration-none" href="http://ryanmnoble.com" target="_blank"><small class="text-light mb-0">Web Design by: RMN Web Design LLC</small></a></p>
        </div>

        <div class="text-sm-center col-md-12 text-md-center col-lg-4 text-lg-right" id="footer-copyright">
            <span><small class="text-light">&copy; Mirabella Doors. All Rights Reserved.</small></span>
        </div>
    </nav>


    <!-- jQuery Core 3.4 - Uncompressed -->
    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
    
    <!-- Bootstrap JavaScript Links -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- External JavaScript Pages -->
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.js"></script>

    <!-- WOW Animations -->
    <script src="/assets/js/wow.min.js"></script>
    <script>
    new WOW().init();
    </script>

</body>
</html>