<div class="container-fluid px-0" id="error404Container">
    <img src="/assets/images/stockImages/404_light_bulb.png" class="img-fluid" id="error404Image" alt="404 Error - Light Bulb Image">

    <div>
        <div class="error404Dialog px-5">
            <h1 class="mb-6" id="error404Header">Hey, who turned off the lights?</h1>
            <p id="error404Para">We were unable to find the page you were looking for.</p>
        </div>
    </div> 

    <a id="error404Anchor" href="http://www.free404.com" target="_blank">free404.com</a>
</div>

