<!-- Smooth Scroll Div -->
<div class="smooth-scroll" id="balconies-and-railings-scroll"></div>

<!-- Hero Component (banner right) -->
{{> hero-components/hero-component-right }}

<!-- Page Breaker Text -->
{{> page-breaker-component/page-breaker-text }}

<!-- Best Selling Balcony/Railing Img Left -->
<div class="pb-6">
    {{> images-components/images-component-left }}
</div>

<!-- Scroll Top Btn Component -->
{{> scroll-top-btn-component/scroll-top-btn }}