<!-- Hero Component (banner left) -->
{{>hero-components/hero-component-left }}

<!-- Page Breaker Text -->
{{> page-breaker-component/page-breaker-text }}

<!-- Arrow Component (left) -->
<div class="d-none d-sm-block">
    {{> arrow-components/arrow-component-left }}
</div>

<!-- XS Arrow Tranform (left) -->
<div class="d-sm-none d-xs-block px-3">
    {{> xs-arrow-transform/xs-arrow-transform-left }}
</div>

<!-- Arrow Component (right/form) -->
<div class="d-none d-sm-block">
    {{> arrow-components/arrow-component-form }}
</div>

<!-- XS Arrow Transform (right)-->
<div class="d-sm-none d-xs-block px-3">
    {{> xs-arrow-transform/xs-form-transform }}
</div>


<!-- Google Maps -->
<div class="container-fluid">
    <div class="row mb-6">
        <div class="col-1"></div>
        <div class="col-12 px-0 shadow-sm" id="googleMapsCol">
            <iframe width="{{ googleMapsApi.width }}" height="{{ googleMapsApi.height }}" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Mirabella%20Doors%20at%20The%20Houston%20Design%20Center%207026%20Old%20Katy%20Road%2C%20Suite%20292%20Houston%2C%20Texas%2077024&key={{ googleMapsApi.key }}" allowfullscreen></iframe>
        </div>
        <div class="col-1"></div>
    </div>
</div>



<!-- Buttons -->
<div class="row my-6">
    <div class="col-3"></div>
    <div class="col-2 mb-6 text-center">
        <button type="button" class="btn btn-secondary mirabella-defference-btn wow fadeIn slow">THE MB DIFF</button>
    </div>
    <div class="col-2 mb-6 text-center">
        <button type="button" class="btn btn-secondary contemporary-doors-btn wow fadeIn slow">CONT. DOORS</button>
    </div>
    <div class="col-2 mb-6 text-center">
        <button type="button" class="btn btn-secondary traditional-doors-btn wow fadeIn slow">TRAD. DOORS</button>
    </div>
    <div class="col-3"></div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/js/googleMaps.js"></script>