<!-- Smooth Scroll Div -->
<div class="smooth-scroll" id="contemporary-doors-scroll"></div>

<!-- Hero Component (banner right) -->
{{> hero-components/hero-component-right }}

<!-- Page Breaker Text -->
{{> page-breaker-component/page-breaker-text }}

<!-- Best Selling Image Left -->
<div class="my-0 my-sm-6">
    {{> images-components/images-component-left }}
</div>

<!-- Best Selling Image Right -->
<div class="slant-background py-6">
   {{> images-components/images-component-right }} 
</div>

<!-- Best Selling Image Left -->
<div class="my-0 my-sm-6">
    {{> images-components/images-component-left 
    partialContextTop = imagesComponentLeft.smallImage.topRow.[2] 
    partialContextBottom = imagesComponentLeft.smallImage.bottomRow.[2]
    partialContextSrc = imagesComponentLeft.largeImage.[2]}}
</div>

<!-- Best Selling Image Right -->
<div class="slant-background py-6">
    {{> images-components/images-component-right 
    partialContextTop = imagesComponentRight.smallImage.topRow.[3] 
    partialContextBottom = imagesComponentRight.smallImage.bottomRow.[3]
    partialContextSrc = imagesComponentRight.largeImage.[3]}}
</div>

<!-- Scroll Top Btn Component -->
{{> scroll-top-btn-component/scroll-top-btn }}