<!-- Smooth Scroll Div -->
<div class="smooth-scroll" id="door-design-library-scroll"></div>

<!-- Hero Component (banner left) -->
{{> hero-components/hero-component-left }}

<!-- Page Breaker Text -->
{{> page-breaker-component/page-breaker-text }}

<!-- Non-CAD Design Image Right -->
<div class="my-0 my-sm-6">
    {{> images-components/images-component-right }}
</div>

<!-- Non-CAD Design Image Left -->
<div class="slant-background py-6">
    {{> images-components/images-component-left }}
</div>

<div class="my-0 my-sm-6">
    {{> images-components/images-component-right 
    partialContextTop = imagesComponentRight.smallImage.topRow.[2] 
    partialContextBottom = imagesComponentRight.smallImage.bottomRow.[2]
    partialContextSrc = imagesComponentRight.largeImage.[2]}}
</div>

<div class="slant-background py-6">
    {{> images-components/images-component-left 
    partialContextTop = imagesComponentLeft.smallImage.topRow.[3] 
    partialContextBottom = imagesComponentLeft.smallImage.bottomRow.[3]
    partialContextSrc = imagesComponentRight.largeImage.[3]}}
</div>

<div class="my-0 my-sm-6">
    {{> images-components/images-component-right 
    partialContextTop = imagesComponentRight.smallImage.topRow.[4] 
    partialContextBottom = imagesComponentRight.smallImage.bottomRow.[4]
    partialContextSrc = imagesComponentRight.largeImage.[4]}}
</div>

<div class="slant-background py-6">
    {{> images-components/images-component-left 
    partialContextTop = imagesComponentLeft.smallImage.topRow.[5] 
    partialContextBottom = imagesComponentLeft.smallImage.bottomRow.[5]
    partialContextSrc = imagesComponentRight.largeImage.[5]}}
</div>

<div class="my-0 my-sm-6">
    {{> images-components/images-component-right 
    partialContextTop = imagesComponentRight.smallImage.topRow.[6] 
    partialContextBottom = imagesComponentRight.smallImage.bottomRow.[6]
    partialContextSrc = imagesComponentRight.largeImage.[6]}}
</div>

<div class="slant-background py-6">
    {{> images-components/images-component-left 
    partialContextTop = imagesComponentLeft.smallImage.topRow.[7] 
    partialContextBottom = imagesComponentLeft.smallImage.bottomRow.[7]
    partialContextSrc = imagesComponentRight.largeImage.[7]}}
</div>

<div class="my-0 my-sm-6">
    {{> images-components/images-component-right 
    partialContextTop = imagesComponentRight.smallImage.topRow.[8] 
    partialContextBottom = imagesComponentRight.smallImage.bottomRow.[8]
    partialContextSrc = imagesComponentRight.largeImage.[8]}}
</div>

<!-- Buttons -->
{{!-- <div class="row my-6">
    <div class="col-2"></div>
    <div class="col-2 mb-6 text-center">
        <button type="button" class="btn btn-secondary contact-us-btn wow fadeIn slow">CONTACT US</button>
    </div>
    <div class="col-2 mb-6 text-center">
        <button type="button" class="btn btn-secondary contemporary-doors-btn wow fadeIn slow">CONT. DOORS</button>
    </div>
    <div class="col-2 mb-6 text-center">
        <button type="button" class="btn btn-secondary traditional-doors-btn wow fadeIn slow">TRAD. DOORS</button>
    </div>
    <div class="col-2 mb-6 text-center">
        <button type="button" class="btn btn-secondary finishes-btn wow fadeIn slow">FINISHES</button>
    </div>
    <div class="col-2"></div>
</div> --}}

<!-- Scroll Top Btn Component -->
{{> scroll-top-btn-component/scroll-top-btn }}