<style>
    a{
        *display: block;
    }
    img{
        height: 250px;
        margin-bottom: 10px;
    }
</style>

    <h1>jQuery Lightbox 0.1</h1>
    <p>Simple Lightbox</p>
    <a href="https://github.com/CreativeDream/jquery-iLightbox" target="_blank">Download 0.1</a>
    <hr />
    <h3>Demo:</h3>
    
    <!-- Images -->
    <div id="main" align="center">
        <a href="https://s.hdnux.com/photos/01/04/65/54/18045729/6/920x920.jpg" data-lightbox-title="Simple Title" data-lightbox-gallery="gallery">
            <img src="https://s.hdnux.com/photos/01/04/65/54/18045729/6/920x920.jpg" />
        </a>
        <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKo4pfWBGnm9uXOZAK96SxZCiID4YfCgg55UEtNN27tIxhnbcC" data-lightbox-gallery="gallery">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKo4pfWBGnm9uXOZAK96SxZCiID4YfCgg55UEtNN27tIxhnbcC" />
        </a>
        <a href="https://www.papercitymag.com/wp-content/uploads/2018/10/Astros_CLE_ALDS2_44-1024x768.jpg" data-lightbox-gallery="gallery">
            <img src="https://www.papercitymag.com/wp-content/uploads/2018/10/Astros_CLE_ALDS2_44-1024x768.jpg" />
        </a>
        <a href="https://images1.houstonpress.com/imager/u/original/11354367/04302018_astrosvs.yankees_hou_jackgorman-40.jpg" data-lightbox-gallery="gallery" data-lightbox-type="iframe">
            <img src="https://images1.houstonpress.com/imager/u/original/11354367/04302018_astrosvs.yankees_hou_jackgorman-40.jpg" />
        </a>
    </div>
    
    <br />
    <h4>This script is including:</h4>
    <ul>
      <li>Jquery Code - <i>jquery.lightbox.min.js</i></li>
      <li>CSS Code - <i>jquery.lightbox.css</i></li>
    </ul> 
    <h4>This script Requires:</h4>
    <ul>
      <li>Jquery library - <i>jquery-1.8.2.min.js</i></li>
    </ul>
    <br />
    &copy; 2014 <b>CreativeDream</b>.

    
    {{!-- <script type="text/javascript" src="/assets/js/jquery.lightbox.min.js"></script> --}}