<!-- Hero Images - Carousel -->
<div class="container-fluid px-0 px-0" id="hero-img-container">
    <div class="row">
        <div class="col-12">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                    <li data-target="#carousel" data-slide-to="3"></li>
                    <li data-target="#carousel" data-slide-to="4"></li>
                    <li data-target="#carousel" data-slide-to="5"></li>
                    <li data-target="#carousel" data-slide-to="6"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item active darken" data-interval="10000">
                        <img src="./assets/images/mirabellaDoorsImgs/heroImgs/161011_4035WMain-006.jpg" class="d-block w-100 opacity" alt="...">
                        <div class="carousel-caption">
                            <h1 class="display-2 caption-title text-uppercase d-none d-md-block mb-5 wow zoomIn">Mirabella Doors</h1>
                            <p class="hero-image-paragraph-font wow zoomIn delay-sixtieths">You only have one chance to make a first impression</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="./assets/images/mirabellaDoorsImgs/heroImgs/WDB Front Elevation-resized.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="./assets/images/mirabellaDoorsImgs/heroImgs/trad_door_wine_door_stairwell.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="./assets/images/mirabellaDoorsImgs/heroImgs/Cosmopolitan L Shaped Unit-resized.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="./assets/images/mirabellaDoorsImgs/heroImgs/Cosmopolitan SDSL and L Shaped Back Wall-resized.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="./assets/images/mirabellaDoorsImgs/heroImgs/pleasant_front_exterior.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="./assets/images/mirabellaDoorsImgs/heroImgs/160706_919 Clearbrook-012-resized.jpeg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Mirabella Difference -->
<div class="wrapper-shadow mt-4">
    <div class="container-fluid bg-gradient-mirabella-radial bg-polygon shadow mb-5 pb-7 w-100 wow fadeIn">
        <div class="row">
            <div class="col-12">
                <h2 class="display-4 mt-3 my-lg-5 ml-2 ml-lg-5 wow fadeIn" id="mirabellaDifferenceHeading"><em>The Mirabella Difference :</em></h2>
                <p class="mirabella-difference-paragraph mt-4 mx-4 mx-xl-5 px-lg-5 wow fadeIn delay-tenths">Migas sustainable ugh quinoa before they sold out. Gochujang literally deep v distillery disrupt. Banjo beard lumbersexual migas skateboard offal kitsch, twee prism keffiyeh fashion axe put a bird on it cold-pressed hell of church-key. +1 asymmetrical raclette kogi trust fund chillwave lyft succulents, stumptown before they sold out.</p>
                <p class="mirabella-difference-paragraph mx-4 mx-xl-5 mb-4 px-lg-5 wow fadeIn delay-twentieths">XOXO tousled skateboard butcher 3 wolf moon chambray unicorn 90's mixtape try-hard. Food truck fixie hexagon biodiesel migas, fashion axe helvetica man bun asymmetrical beard pok pok wayfarers tumeric waistcoat you probably haven't heard of them. Selfies air plant kogi tbh, kale chips 8-bit lomo echo park. Shabby chic semiotics pabst, live-edge iPhone post-ironic ramps jianbing photo booth PBR&B yr dreamcatcher.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1 d-none d-xl-block"></div>
            <div class="col-12 px-3 col-xl-10 px-xl-0">
                <div class="card-deck text-center my-5">
                    <div class="row no-gutters">

                        <div class="col-sm-12 col-md-6 col-lg-3 px-sm-5 px-md-0 pb-sm-4 pb-md-4 mb-sm-4 mb-md-0">

                            <div class="card core-value-card bg-transparent-gray d-none d-md-block d-lg-block d-xl-block wow flipInY slow" id="coreValueOne">
                                <i class="fas fa-handshake fa-3x mt-4 mb-3 d"></i>
                                <div class="card-body">
                                    <h5 class="card-title core-value-title">Core Value 1</h5>
                                    <p class="card-text core-value-paragraph">Man braid next level actually vegan yr tofu irony master cleanse vape chia flannel. Literally church-key poke pitchfork VHS austin iceland, leggings XOXO butcher.</p>

                                </div>
                            </div>

                            <!-- Card Flips Horizontal on XS and SM Screen Sizes-->
                            <div class="card core-value-card bg-transparent-gray d-none d-block d-sm-block d-md-none d-lg-none d-xl-none wow flipInX slow" id="coreValueOne">
                                <div class="row no-gutters">
                                    <div class="col-4 px-2 px-sm-0 core-value-horizontal-border-right">
                                        <i class="fas fa-handshake fa-3x my-4"></i>
                                        <h5 class="card-title core-value-title">Core Value 1</h5>
                                    </div>
                                    <div class="col-8">
                                        <div class="card-body card-body-xs-screen-padding">
                                            <p class="card-text core-value-paragraph">Man braid next level actually vegan yr tofu irony master cleanse vape chia flannel. Literally church-key poke pitchfork VHS austin iceland, leggings XOXO butcher.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-3 px-sm-5 px-md-0 pb-sm-4 pb-md-4 mb-sm-4 mb-md-0">

                            <div class="card core-value-card bg-transparent-gray d-none d-md-block d-lg-block d-xl-block wow flipInY slow" id="coreValueTwo">
                                <i class="fas fa-tools fa-3x mt-4 mb-3"></i>
                                <div class="card-body">
                                    <h5 class="card-title core-value-title">Core Value 2</h5>
                                    <p class="card-text core-value-paragraph">Man braid next level actually vegan yr tofu irony master cleanse vape chia flannel. Literally church-key poke pitchfork VHS austin iceland, leggings XOXO butcher.</p>
                                </div>
                            </div>

                            <!-- Card Flips Horizontal on XS and SM Screen Sizes-->
                            <div class="card core-value-card bg-transparent-gray d-none d-block d-sm-block d-md-none d-lg-none d-xl-none wow flipInX slow" id="coreValueTwo">
                                <div class="row no-gutters">
                                    <div class="col-4 core-value-horizontal-border-right">
                                        <i class="fas fa-tools fa-3x my-4"></i>
                                        <h5 class="card-title core-value-title">Core Value 2</h5>
                                    </div>
                                    <div class="col-8">
                                        <div class="card-body">
                                            <p class="card-text core-value-paragraph">Man braid next level actually vegan yr tofu irony master cleanse vape chia flannel. Literally church-key poke pitchfork VHS austin iceland, leggings XOXO butcher.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-3 px-sm-5 px-md-0 pb-sm-4 pb-md-4 mb-sm-4 mb-md-0">

                            <div class="card core-value-card bg-transparent-gray d-none d-md-block d-lg-block d-xl-block wow flipInY slow" id="coreValueThree">
                                <i class="fas fa-shipping-fast fa-3x mt-4 mb-3"></i>
                                <div class="card-body">
                                    <h5 class="card-title core-value-title">Core Value 3</h5>
                                    <p class="card-text core-value-paragraph">Man braid next level actually vegan yr tofu irony master cleanse vape chia flannel. Literally church-key poke pitchfork VHS austin iceland, leggings XOXO butcher.</p>
                                </div>
                            </div>

                            <!-- Card Flips Horizontal on XS and SM Screen Sizes-->
                            <div class="card core-value-card bg-transparent-gray d-none d-block d-sm-block d-md-none d-lg-none d-xl-none wow flipInX slow" id="coreValueThree">
                                <div class="row no-gutters">
                                    <div class="col-4 core-value-horizontal-border-right">
                                        <i class="fas fa-shipping-fast fa-3x my-4"></i>
                                        <h5 class="card-title core-value-title">Core Value 3</h5>
                                    </div>
                                    <div class="col-8">
                                        <div class="card-body">
                                            <p class="card-text core-value-paragraph">Man braid next level actually vegan yr tofu irony master cleanse vape chia flannel. Literally church-key poke pitchfork VHS austin iceland, leggings XOXO butcher.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-3 px-sm-5 px-md-0 pb-sm-4 pb-md-4 mb-sm-4 mb-md-0">

                            <div class="card core-value-card bg-transparent-gray d-none d-md-block d-lg-block d-xl-block wow flipInY slow" id="coreValueFour">
                                <i class="fas fa-money-bill fa-3x mt-4 mb-3"></i>
                                <div class="card-body">
                                    <h5 class="card-title core-value-title">Core Value 4</h5>
                                    <p class="card-text core-value-paragraph">Man braid next level actually vegan yr tofu irony master cleanse vape chia flannel. Literally church-key poke pitchfork VHS austin iceland, leggings XOXO butcher.</p>
                                </div>
                            </div>

                            <!-- Card Flips Horizontal on XS and SM Screen Sizes-->
                            <div class="card core-value-card bg-transparent-gray d-none d-block d-sm-block d-md-none d-lg-none d-xl-none wow flipInX slow" id="coreValueFour">
                                <div class="row no-gutters">
                                    <div class="col-4 core-value-horizontal-border-right">
                                        <i class="fas fa-money-bill fa-3x my-4"></i>
                                        <h5 class="card-title core-value-title">Core Value 4</h5>
                                    </div>
                                    <div class="col-8">
                                        <div class="card-body">
                                            <p class="card-text core-value-paragraph">Man braid next level actually vegan yr tofu irony master cleanse vape chia flannel. Literally church-key poke pitchfork VHS austin iceland, leggings XOXO butcher.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-1 d-none d-xl-block"></div>
        </div>
    </div>
</div>

<!-- Featured Products -->
<div class="container-fluid w-100">
    <h2 class="display-6 my-5 ml-5 ml-sm-1 ml-md-4 ml-xl-5 wow fadeIn" id="featuredDoorsHeading"><em>Featured Doors :</em></h2>
    <div class="row mb-6 mx-3">
    
        <!-- Featured Products Images (XL screen sizes only) -->
        <div class="col-xl-12">
            <div class="card-deck mx-xl-n5 mb-6 d-none d-xl-block">
                <div class="container-fluid">
                    <div class="row mx-lg-4 mx-xl-0">

                        <div class="card border-0 d-inline-block mr-3 wow zoomIn">
                            <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/CM1A9908 - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow card-img-size-xl-screen" alt="">
                        </div>

                        <div class="card border-0 d-inline-block mx-3 wow zoomIn delay-fifteenths">
                            <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/After Picture - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow card-img-size-xl-screen" alt="">
                        </div>

                        <div class="card border-0 d-inline-block mx-3 wow zoomIn delay-thirtieths">
                            <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Kinley Design - cropped and resized.jpg" class="featured-product-card card-img-top rounded shadow card-img-size-xl-screen" alt="">
                        </div>

                        <div class="card border-0 d-inline-block mx-3 wow zoomIn delay-fortyfifths">
                            <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Cosmopolitan Front Entry Doors - cropped and resized.jpg" class="featured-product-card card-img-top rounded shadow card-img-size-xl-screen" alt="">
                        </div>

                        <div class="card border-0 d-inline-block ml-3 wow zoomIn delay-sixtieths">
                            <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Miramar Design - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow card-img-size-xl-screen" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        <!-- Featured Products Images (MD and LG screen sizes only) -->
        <div class="card-deck mx-0 mb-5 d-none d-md-block d-lg-block d-xl-none">
            <div class="container-fluid">
                <div class="row mx-lg-4 mx-xl-0">

                    <div class="card border-0 d-inline-block wow zoomIn">
                        <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/CM1A9908 - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow" alt="">
                    </div>

                    <div class="card border-0 d-inline-block wow zoomIn delay-fifteenths">
                        <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/After Picture - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow" alt="">
                    </div>

                    <div class="card border-0 d-inline-block wow zoomIn delay-thirtieths">
                        <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Kinley Design - cropped and resized.jpg" class="featured-product-card card-img-top rounded shadow" alt="">
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div class="card-deck mx-0 mb-6 d-none d-md-block d-lg-block d-xl-none text-center">
                <div class="container-fluid px-0">
                    <div class="row mx-md-0">

                        <div class="card border-0 d-inline-block ml-lg-n5 ml-md-0 wow zoomIn delay-fortyfifths">
                            <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Cosmopolitan Front Entry Doors - cropped and resized.jpg" class="featured-product-card card-img-top rounded shadow card-img-size-lg-screen" alt="">
                        </div>

                        <div class="card border-0 d-inline-block mr-lg-n5 mr-md-0 wow zoomIn delay-sixtieths">
                            <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Miramar Design - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow card-img-size-lg-screen" alt="">
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-2"></div>

        <!-- Featured Products Images (XS and SM screen sizes only) -->
        <div class="card-deck mx-0 mb-sm-4 d-none d-block d-md-none d-lg-none d-xl-none text-center">
            <div class="container-fluid px-0">
                <div class="row mx-md-0">

                    <div class="card border-0 d-inline-block mb-4 mx-5 mx-sm-2 card-margin-xs-screen wow zoomIn">
                        <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/CM1A9908 - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow" alt="">
                    </div>

                    <div class="card border-0 d-inline-block mb-4 mx-5 mx-sm-2 card-margin-xs-screen wow zoomIn delay-fifteenths">
                        <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/After Picture - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow" alt="">
                    </div>

                </div>
            </div>
        </div>

        <div class="card-deck mx-0 mb-sm-4 d-none d-block d-md-none d-lg-none d-xl-none text-center">
            <div class="container-fluid px-0">
                <div class="row mx-md-0">

                    <div class="card border-0 d-inline-block mb-4 mx-5 mx-sm-2 card-margin-xs-screen wow zoomIn delay-thirtieths">
                        <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Cosmopolitan Front Entry Doors - cropped and resized.jpg" class="featured-product-card card-img-top rounded shadow" alt="">
                    </div>

                    <div class="card border-0 d-inline-block mb-4 mx-5 mx-sm-2 card-margin-xs-screen wow zoomIn delay-fortyfifths">
                        <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Kinley Design - cropped and resized.jpg" class="featured-product-card card-img-top rounded shadow" alt="">
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-3 d-none d-sm-block"></div>
        <div class="col-sm-6 d-none d-sm-block">

            <div class="card-deck mx-n2 mb-5 d-none d-block d-md-none d-lg-none d-xl-none text-center">
                <div class="container-fluid px-0">
                    <div class="row mx-md-0">

                        <div class="card border-0 d-inline-block mb-4 mx-5 mx-sm-2 card-margin-xs-screen wow zoomIn delay-sixtieths">
                            <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Miramar Design - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow" alt="">
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-3 d-none d-sm-block"></div>

        <div class="d-sm-none d-block ">
            <div class="card-deck mx-0 mb-sm-4 d-none d-block d-md-none d-lg-none d-xl-none text-center">
                <div class="container-fluid px-0">
                    <div class="row mx-md-0">

                        <div class="card border-0 d-inline-block mb-4 mx-5 card-margin-xs-screen wow zoomIn delay-sixtieths">
                            <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Miramar Design - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- Customer Reviews -->
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-9">
            <div class="row mb-6">
                <div class="col-4 pl-0">
                    <img class="customer-review-img shadow-sm wow fadeIn slow" src="./assets/images/mirabellaDoorsImgs/customerReviews/customer_review_home.jpeg">
                </div>
                <div class="col-8 ml-n6 mt-n5 p-4 h-75 customer-review-text transparent shadow wow slideInLeft">
                    <h5 class="wow fadeIn slow">CUSTOMER REVIEW</h5>
                    <p class="wow fadeIn slow">"Lomo freegan normcore pok pok listicle health goth taxidermy slow-carb pinterest beard microdosing pour-over. Crucifix fam four dollar toast gluten-free, schlitz pour-over DIY gochujang hell of tousled taxidermy godard snackwave whatever sartorial. Enamel pin palo santo asymmetrical offal ennui. Kickstarter cardigan vexillologist viral, keffiyeh tbh tousled retro kogi man bun."</p>
                    <p class="text-right mb-0 wow fadeIn slower"><span> - Ryan N.<small><span class="text-right text-muted"> from The Museum District</span></small></span></p>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row mt-4">
        <div class="col-1"></div>
        <div class="col-9">
            <div class="row">
                <div class="col-8 mt-n5 ml-6 p-4 h-75 customer-review-text transparent shadow wow slideInRight">
                    <h5 class="wow fadeIn slow">CUSTOMER REVIEW</h5>
                    <p class="wow fadeIn slow">"Lomo freegan normcore pok pok listicle health goth taxidermy slow-carb pinterest beard microdosing pour-over. Crucifix fam four dollar toast gluten-free, schlitz pour-over DIY gochujang hell of tousled taxidermy godard snackwave whatever sartorial. Enamel pin palo santo asymmetrical offal ennui. Kickstarter cardigan vexillologist viral, keffiyeh tbh tousled retro kogi man bun."</p>
                    <p class="text-right mb-0 wow fadeIn slower"><span> - Stephanie N.<small><span class="text-right text-muted"> from Vintage Park</span></small></span></p>
                </div>
                <div class="col-4 pr-0 ml-n6 mb-6">
                    <img class="customer-review-img float-right shadow-sm wow fadeIn slow" src="./assets/images/mirabellaDoorsImgs/customerReviews/customer_review_img_clearbrook.jpeg">
                </div>
            </div>
        </div>
        <div class="col-2 clear-float"></div>
    </div>
</div>