<!-- Smooth Scroll Div -->
<div class="smooth-scroll" id="home-scroll"></div>

<!-- Hero Images - Carousel -->
<div class="container-fluid px-0 px-0" id="hero-img-container">
    <div class="row">
        <div class="col-12">
            <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                    <li data-target="#carousel" data-slide-to="3"></li>
                    <li data-target="#carousel" data-slide-to="4"></li>
                    <li data-target="#carousel" data-slide-to="5"></li>
                    <li data-target="#carousel" data-slide-to="6"></li>
                </ol>

                <div class="carousel-inner">

                    <div class="carousel-item active darken" data-interval="10000">
                        <img src="/assets/images/mirabellaDoorsImgs/heroImgs/tinified/161011_4035WMain-006.jpg" class="d-block w-100 opacity carousel-img-min-height" alt="Houston's Finest Custom Doors - Mirabella Doors - Design: West Main">
                        <div class="carousel-caption">
                            <h1 class="display-2 caption-title text-uppercase d-none d-md-block mb-5 wow zoomIn">Mirabella Doors</h1>
                            <p class="hero-image-paragraph-font wow zoomIn delay-sixtieths">You only have one chance to make a first impression</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="/assets/images/mirabellaDoorsImgs/heroImgs/tinified/WDB Front Elevation-resized.jpg" class="d-block w-100 carousel-img-min-height" alt="Iron Door for Entryway - Home and Office - Houston Design Center - Design: Cosmopolitan (Front Entry Doors)">
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="/assets/images/mirabellaDoorsImgs/heroImgs/tinified/trad_door_wine_door_stairwell.jpg" class="d-block w-100 carousel-img-min-height" alt="Custom Door Designs - Houston, TX - Iron Door Design and Installation - Design Name: Wine Door">
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="/assets/images/mirabellaDoorsImgs/heroImgs/tinified/Cosmopolitan L Shaped Unit-resized.jpeg" class="d-block w-100 carousel-img-min-height" alt="Houston Design Center - Mirabella Doors - Custom Contemporary Door Designs - Design: Cosmopolitan (L-Shaped Unit)">
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="/assets/images/mirabellaDoorsImgs/heroImgs/tinified/Cosmopolitan SDSL and L Shaped Back Wall-resized.jpeg" class="d-block w-100 carousel-img-min-height" alt="Stunning Contemporary Doors - Custom Designed and Installed - Houston, TX - Design: Cosmopolitan (L-Shaped Back Wall)">
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="/assets/images/mirabellaDoorsImgs/heroImgs/tinified/Brandon-Way-11706-IMG-21_1_1_(1)_copy.jpg" class="d-block w-100 carousel-img-min-height" alt="Hand Crafted Custom Iron Doors for Home and Office - Houston, Texas - Design: Brandon Way">
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="/assets/images/mirabellaDoorsImgs/heroImgs/tinified/160706_919 Clearbrook-012-resized.jpeg" class="d-block w-100 carousel-img-min-height" alt="Mirabella Doors - Contemporary Doors - Design: Cosmopolitan (Clearbrook, Dining and Wine Rooms)">
                    </div>

                </div>

                <a class="carousel-control-prev" data-target="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" data-target="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Page Breaker Text -->
{{> page-breaker-component/page-breaker-text}}

<!-- Core Values -->
<div class="container-fluid slant-background py-6">
    {{> core-value-card-component/core-value-card}}
</div>

<!-- Featured Products -->
{{> featured-doors-component/featured-doors}}

{{!-- <div class="module-line-short"></div>
<h5 class="text-center page-breaker-text">See what our Valued Customers are saying</h5>
<div class="module-line-short"></div> --}}

<!-- Customer Review Left -->
<div class="py-6">
    {{> customer-reviews-components/cust-review-left}}
</div>

<!-- Customer Review Right -->
<div class="py-6">
    {{> customer-reviews-components/cust-review-right}}
</div>

<!-- Scroll Top Btn Component -->
{{> scroll-top-btn-component/scroll-top-btn }}

