<!-- Hero Banner Component (banner left) -->
{{> hero-components/hero-component-left }}

<!-- Page Breaker Text -->
{{> page-breaker-component/page-breaker-text }}

<!-- Arrow Component (right) -->
<div class="d-none d-sm-block">
    {{> arrow-components/arrow-component-right }}
</div>

<!-- XS Arrow Transform -->
<div class="d-sm-none d-xs-block px-3">
    {{> xs-arrow-transform/xs-arrow-transform }}
</div>

<!-- Arrow Component (left) -->
{{> arrow-components/arrow-component-left }}

<!-- Buttons -->
<div class="row my-6">
    <div class="col-4"></div>
    <div class="col-2 mb-6 text-center">
        <button type="button" class="btn btn-secondary contact-us-btn wow fadeIn slow">CONTACT US
        </button>
    </div>
    <div class="col-2 mb-6 text-center">
        <button type="button" class="btn btn-secondary wow fadeIn slow">VIEW DOORS</button>
    </div>
    <div class="col-4"></div>
</div>
