<!-- Hero Banner Component (banner left) -->
{{> hero-components/hero-component-left }}

<!-- Page Breaker Text -->
{{> page-breaker-component/page-breaker-text }}

<!-- Arrow Component (right) -->
<div class="row mb-6">
    <div class="col-1"></div>
    <div class="col-10">
        <img src="https://via.placeholder.com/1650x700/F6C35F/FFFFFF?text=Arrow+Component+(right)+-+The+Mirabella+Difference" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-1"></div>
</div>

<!-- Arrow Component (left) -->
<div class="row my-6">
    <div class="col-1"></div>
    <div class="col-10 mb-4">
        <img src="https://via.placeholder.com/1650x700/5ff6c3/FFFFFF?text=Arrow+Component+(left)+-+About-Pam" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-1"></div>
</div>

<!-- Buttons -->
<div class="row my-6">
    <div class="col-4"></div>
    <div class="col-2 mb-6 text-center">
        <button type="button" class="btn btn-secondary contact-us-btn">CONTACT US
        </button>
    </div>
    <div class="col-2 mb-6 text-center">
        <button type="button" class="btn btn-secondary">VIEW DOORS</button>
    </div>
    <div class="col-4"></div>
</div>
