<!-- Smooth Scroll Div -->
<div class="smooth-scroll" id="mirabella-difference-scroll"></div>

<!-- Hero Banner Component (banner left) -->
{{> hero-components/hero-component-left }}

<!-- Page Breaker Text -->
{{> page-breaker-component/page-breaker-text }}

<!-- Arrow Component (right) -->
<div class="d-none d-sm-block">
    {{> arrow-components/arrow-component-right }}
</div>

<!-- XS Arrow Transform (right)-->
<div class="d-sm-none d-xs-block px-3">
    {{> xs-arrow-transform/xs-arrow-transform-right }}
</div>

<!-- Arrow Component (left) -->
<div class="d-none d-sm-block">
    {{> arrow-components/arrow-component-left }}
</div>

<!-- XS Arrow Transform (left) -->
<div class="d-sm-none d-xs-block px-3">
    {{> xs-arrow-transform/xs-arrow-transform-left }}
</div>

<!-- Scroll Top Btn Component -->
{{> scroll-top-btn-component/scroll-top-btn }}
