<!-- Hero Component (banner left) -->
{{> hero-components/hero-component-left }}

<!-- Page Breaker Text -->
{{> page-breaker-component/page-breaker-text }}

<!-- Best Selling Image Right -->
<div class="my-0 my-sm-6">
    {{> images-components/images-component-right }}
</div>

<!-- Best Selling Image Left -->
{{!-- <div class="slant-background-border"> --}}
    <div class="slant-background py-6">
        {{> images-components/images-component-left }}
    </div>
{{!-- </div> --}}

<!-- Best Selling Image Right -->
<div class="my-0 my-sm-6">
    {{> images-components/images-component-right
    partialContextSrc=imagesComponentRight.largeImage.src.[1] partialContextAlt=imagesComponentRight.largeImage.alt.[1] }}
</div>

<!-- Best Selling Image Left -->
<div class="slant-background py-6">
    {{> images-components/images-component-left 
    partialContextSrc=imagesComponentLeft.largeImage.src.[1] partialContextAlt=imagesComponentLeft.largeImage.alt.[1] }}
</div>

<!-- Buttons -->
<div class="row my-6">
    <div class="col-2"></div>
    <div class="col-2 mb-6 text-center">
        <button type="button" class="btn btn-secondary contact-us-btn wow fadeIn slow">CONTACT US</button>
    </div>
    <div class="col-2 mb-6 text-center">
        <button type="button" class="btn btn-secondary contemporary-doors-btn wow fadeIn slow">CONT. DOORS</button>
    </div>
    <div class="col-2 mb-6 text-center">
        <button type="button" class="btn btn-secondary design-library-btn wow fadeIn slow">DESIGN LIBRARY</button>
    </div>
    <div class="col-2 mb-6 text-center">
        <button type="button" class="btn btn-secondary finishes-btn wow fadeIn slow">FINISHES</button>
    </div>
    <div class="col-2"></div>
</div>