<!-- Smooth Scroll Div -->
<div class="smooth-scroll" id="wine-room-doors-scroll"></div>

<!-- Hero Component (banner left) -->
{{> hero-components/hero-component-left }}

<!-- Page Breaker Text -->
{{> page-breaker-component/page-breaker-text }}

<!-- Large Finishing Img Right -->
<div class="pb-6">
    {{> images-components/images-component-right }}
</div>

<!-- Scroll Top Btn Component -->
{{> scroll-top-btn-component/scroll-top-btn }}