body {
    /* Like Futura Light */ 
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Livvic', sans-serif;
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Asap', sans-serif; */
    /* font-family: 'Cantarell', sans-serif; */
    /* font-family: 'Khula', sans-serif; */
    /* font-family: 'Mallanna', sans-serif; */

    /* Alternative Fonts */
    /* font-family: 'Arima Madurai', cursive; */
    /* font-family: 'Ruluko', sans-serif; */
    /* background: linear-gradient(346deg, rgba(171,255,245,1) 0%, rgba(255,240,177,1) 60%); */
    /* background: radial-gradient( circle 905px at 4.9% 85.8%,  rgba(255,243,242,1) 0.1%, rgba(255,247,220,1) 57.6% ); */
}

.navbar {
    border: 1px solid #d4d4d4;
}

.navbar,
.btn {
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Khula', sans-serif;
}

a.nav-link {
    font-size: .85rem;
}

.active {
    /* background-color: red; */
    transform: scale(1.025); 
    text-shadow: 0px 0px 1px rgba(185, 185, 185, .8);
}

.caption-title {
    /* font-family: 'Cantarell', sans-serif; */
    font-family: 'Khula', sans-serif;    
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Asap', sans-serif; */
}

.hero-component-title {
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Livvic', sans-serif; */
    /* font-family: 'Asap', sans-serif; */
    /* font-weight: 900; */
    text-shadow: 2px 2px 3px rgba(195, 195, 195, 0.9)
}

.hero-component-sub-text,
.xs-hero-component-sub-text {
    font-family: 'Mallanna', sans-serif;
    /* font-family: 'Ruluko', sans-serif; */
    /* font-family: 'Cantarell', sans-serif; */
    /* font-family: 'Arima Madurai', cursive; */
}

.xs-hero-component-title {
    font-family: 'Nunito', sans-serif;
}

.page-breaker-text {
    /* font-family: 'Livvic', sans-serif; */
    font-family: 'Mallanna', sans-serif;
    /* font-family: 'Ruluko', sans-serif;      */
    font-size: 1.3rem; 
    line-height: 1.7;
}

.arrow-component-title {
    font-family: 'Nunito', sans-serif;
    color: rgba(65, 65, 65, 0.9); 
    font-weight: 900; 
    text-shadow: 1px 2px 2px rgb(175, 175, 175);
    /* text-decoration: underline;    */
}

.xs-arrow-component-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 900; 
}

h1 {
    text-shadow: 2px 2px #6A5835;
}

.hero-image-paragraph-font {
    /* font-family: 'Livvic', sans-serif; */
    /* font-family: 'Mallanna', sans-serif; */
    font-family: 'Ruluko', sans-serif;     
    font-size: 1.75rem;
    text-shadow: 1px 2px #6A5835;
}

#mirabellaDifferenceHeading {
    letter-spacing: .2rem;
    /* color: #6d5b37; */
    color: rgb(156, 156, 156);
    /* color: rgb(175, 118, 75); */
    /* text-shadow: 2px 2px 2px rgb(169, 162, 162); */
    text-shadow: 2px 3px 3.5px #6d5b37;
    font-weight: bolder;
    opacity: .9;
}

.mirabella-difference-paragraph {
    font-size: 1.25rem;
}

/* .core-value-card {
    border-radius: 15px;
} */

#coreValueOne,
#coreValueTwo,
#coreValueThree,
#coreValueFour {
    /* box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.15); */
    border: none;
    border-bottom: 1px solid #d4d4d4;
    transition: color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}

#coreValueOne:hover,
#coreValueTwo:hover,
#coreValueThree:hover,
#coreValueFour:hover {
    /* color: red; */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#featuredDoorsHeading {
    letter-spacing: .2rem;
    color: #736735;
    /* color: rgb(156, 156, 156); */
    /* color: rgb(175, 118, 75); */
    text-shadow: 2px 2px 2px rgb(169, 162, 162);
    /* text-shadow: 2px 3px 3.5px #6d5b37; */
    font-weight: bolder;
    opacity: .9;
}

/* .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */



/* Nav Bar */
.nav-link {
    border-right: 1px solid;
    padding: 0px;
}

#noBorder {
    border: 0;
}

/* Scroll Div Height */
.smooth-scroll {
    position: absolute;
    top: 0;
}

/* Carousel */
.carousel-img-min-height{
    /* min-height: 276px; */
}

#carouselIndicators {
    z-index: -1;
}
.carousel-indicators li {
    width: 7px;
    height: 7px;
    border-radius: 100%;
}

.carousel-caption {
    bottom: 15% !important;
}

.darken {
    background: #000;
}

.opacity {
    opacity: 0.7;
}


/* Mirabella Difference */
.bg-polygon {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 48% 100%, 0 88%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
}

.wrapper-shadow {
    /* filter: drop-shadow(-1px 4px 10px rgba(50, 50, 0, 0.3)); */
    filter: drop-shadow(0 0.25rem 0.5rem rgba(0, 0, 0, 0.125));
}

.bg-transparent-gray {
    background:rgba(255,255,255,0.7);
    /* opacity: .8; */
}

.bg-gradient-mirabella-radial {
    /* background: rgb(255,254,231);
    background: radial-gradient(circle, rgba(255,254,231,1) 10%, rgba(255,236,120,1) 100%); */
    /* background: rgb(255,254,231);
    background: radial-gradient(circle, rgba(255,254,231,1) 0%, rgba(255,242,164,1) 93%); */
    background: rgb(252,252,237);
    /* background: radial-gradient(circle, rgba(252,252,237,1) 0%, rgba(255,247,196,1) 93%); */
    background: radial-gradient(circle, rgb(249, 249, 243) 0%, rgb(255, 252, 218) 80%);
}

/* Core Values */
.core-value-card {
    max-height: 400px;
}

.core-value-horizontal-border-right {
    border-right: 1px solid #c5c5c5;
}

/* .core-value-center {
    margin-top: 20%;
} */

/* Featured Products */
.featured-product-card {
    border: 1px solid #6a5835;
}

.card-img-size-xl-screen {
    min-height: 300px;
    min-width: 200px;
}

.card-img-size-lg-screen {
    /* max-height: 522px;
    width: auto; */
    max-width: 340px;
}

/* Customer Reviews */
.customer-review-text {
    z-index: 1000;
    border: 2px solid #6a5835;
    border-radius: 10px;
    /* border-radius: 35% 5%; */
    /* border-radius: 35% 10% 30% 10%; */
}

.customer-review-img {
    z-index: -1000;
    border: 1px solid #6a5835;
    border-radius: 50%;
}

.transparent {
    background: rgba(253, 251, 223, 0.85);
    /* background: rgba(255, 255, 255, 0.8); */
}

/* Slant Background */
/* .slant-background-border {
    filter: drop-shadow(0 0.25rem 0.5rem rgba(0, 0, 0, 0.125));
} */

.slant-background {
    /*Chrome,Safari*/
    -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0 100%);
    /*Firefox*/
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0 100%);
    background: rgb(255, 249, 194, .6);
    /* background: linear-gradient(90deg, rgba(255,249,194,1) 0%, rgba(250,240,156,1) 20%, rgba(255,251,216,1) 100%); */
}

/* Page Breaker Text */
.module-line {
    background: #c5c5c5;
    width: 235px;
    height: 1px;
    margin: 30px auto;
}

.module-line-footer {
    background: #c5c5c5;
    width: 100%;
    height: 1px;
    margin: 20px auto;
}

/* Hero Components - Left and Right */
.hero-component-left-img-div,
.hero-component-right-img-div {
    background-size: cover;
    border-top: 1px solid #6a5835;
    border-bottom: 1px solid #6a5835;
}
.hero-component-left-text-div,
.hero-component-right-text-div {
    /* max-width: 550px; */
    border-top: .1px solid rgba(0, 0, 0, 0); 
    border-right: 1px solid #6a5835;
    border-bottom: .1px solid rgba(0, 0, 0, 0);
    border-left: 1px solid #6a5835;
    background: white; 
    opacity: .875;
}

.xs-hero-component-title {
    padding-top: 9rem;
    padding-bottom: 1rem;
}

.xs-hero-component-sub-text {
    padding-bottom: 1rem;
}

.xs-hero-component-title,
.xs-hero-component-sub-text {
    text-shadow: 1px 2px rgb(44, 44, 44);
}

/* .xs-hero-component-right-text-div,
.xs-hero-component-left-text-div {
    min-height: 300px;
} */

/* Arrow Components */
.arrow-left {
    -webkit-clip-path: polygon(0% 0%, 100% -1%, 90% 50%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% -1%, 90% 50%, 100% 100%, 0% 100%);
    z-index: 1000;
    /* border: 2px solid #6a5835; */
}

.arrow-right {
    -webkit-clip-path: polygon(0 -1%, 100% 0, 100% 100%, 0 100%, 10% 50%);
    clip-path: polygon(0 -1%, 100% 0, 100% 100%, 0 100%, 10% 50%);
    z-index: 1000;
}

.arrow-left-img,
.arrow-right-img {
    z-index: -1000; 
    /* border: 2px solid #6a5835; */

}

/* XS Arrow Transform Component */
.xs-arrow-transparent {
    padding-top: 1rem;
    /* background: rgba(253, 251, 223, 0.675); */
    background: rgba(255, 253, 235, 0.75);
    border-radius: 10px;
    /* background: rgba(255, 255, 255, 0.8); */
}

.arrow-transform-image {
    /* border: 1px solid #3b3527;
    border-radius: 5px; */
    border: 2px solid #6A5835;
    border-radius: 10px;
}

.arrow-transform-text-div {
    /* text-shadow: 1px 2px rgb(44, 44, 44); */
    text-shadow: 1px 2px 5px rgb(0, 0, 0);
}

.arrow-transform-text-div-alternate {
    text-shadow: 2px 2px 4px rgb(206, 206, 206);
}

#meetTheOwnerXSTitle {
    /* margin-top: 1rem; */
    padding-bottom: 1rem;
    font-size: 1.75rem;
}

#meetTheOwnerXSText {
    font-size: 1.1rem;
    line-height: 1.7;
}

/* #pamHeadshot {
    max-height: 500px;
} */


/* MB Difference Page */
#meetTheOwnerText {
    line-height: 1.8;
    font-size: 1.1rem;
}

#meetTheOwnerImg,
#mirabellaDifferenceImg {
    background-position: center;
    background-size: cover;
}

#mirabellaDifferenceText {
    line-height: 1.7;
    font-size: 1rem;
}

/* All Images Pages */
/* Small Imgs */
/* Portions of the Responsive Image Hover Effects were found here: [Code Pen](https://codepen.io/ArnaudBalland/pen/vGZKLr?editors=1100)  */
.container .title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}
  
.content {
    position: relative;
    margin: auto;
    overflow: hidden;
}
  
.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
  
.content:hover .content-overlay{
    opacity: .75;
}
  
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
.content:hover .content-details{
    top: 70%;
    left: 50%;
    opacity: 1;
}
  
.content-details h6 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
  
.content-details p{
    color: #fff;
    font-size: 0.8em;
}
  
.fadeIn-bottom{
    top: 80%;
}


/* .img-hover-background {
    position: relative;
    background-color: #000;
    display: inline-block;
} */

.small-door-image,
.large-door-image {
    border: 1px solid #6a5835; 
}

/* Contact Us Page */
#contactUsImg,
#contactUsEmailImg {
    background-position: center;
    background-size: cover;
}

.form-control {
    border: 1px solid #3b3527 !important;
}

.btn-secondary {
    border-color: #3b3527 !important;
}

div#contactUsText p.ml-4rem.text-justify:first-child,
div#contactUsXSText p.text-justify:first-child {
    margin-bottom: 1.5rem;
}

div#contactUsText p.ml-4rem.text-justify,
div#contactUsXSText p.text-justify {
    margin-bottom: 0;
}

div#contactUsText p.ml-4rem.text-justify:last-child,
div#contactUsXSText p.text-justify:last-child {
    margin-top: 1.5rem;
    font-weight: 900;
    font-style: italic;
}

div#contactUsText p.ml-4rem.text-justify:not(:first-child):not(:last-child),
div#contactUsXSText p.text-justify:not(:first-child):not(:last-child) {
    text-align: center !important;
}

div#contactUsText p.ml-4rem.text-justify:nth-child(2),
div#contactUsXSText p.text-justify:nth-child(2) {
    font-weight: 900;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

div#contactUsText p.ml-4rem.text-justify:nth-child(5),
div#contactUsXSText p.text-justify:nth-child(5),
div#contactUsText p.ml-4rem.text-justify:nth-child(7),
div#contactUsXSText p.text-justify:nth-child(7) {
    margin-bottom: 1rem;
}

/* #googleMapsCol { */
    /* fallback for old browsers */
    /* background: #8c9aa7;   */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(45deg, #d7d2cc, #8c9aa7); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(45deg, #d7d2cc, #8c9aa7);  */  
/* } */

/* 404 Page */
#error404Container {
    background-color: #26292e;
    height: 1000px;
    position: relative;
}

#error404Image {
    position: absolute;
    float: left;
    top: 0;
    width:60%;
}

.error404Dialog {
    color: white;
    font-family: sans-serif;
    float:right;
    text-align: left;
    width: 60%;
    margin: 10% auto 0;
}

#error404Header {
    font-family: sans-serif;
    font-size: 4em;
    color: #fff;
    line-height: 1em;
    text-shadow: none;
    font-weight: bolder;
}

#error404Para {
    font-size: 1.4em;
    color: #fff;
    padding-right: 5%;
}

#error404Anchor {
    color: #fff;
    position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: center;
    font-size: .6em;
}

#error404Anchor:hover {
    color: #e74c3c;
}

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 1rem;
    right: 1.8rem;
}

.scroll-up a {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #222;
    font-size: 14px;
    line-height: 30px;
    border-radius: 3px;
}

.footer {
    background-color: #f5f5f5;
}

a.text-decoration-none.text-muted:hover {
    color: black !important;
}

#mirabella-doors-facebook-icon,
#mirabella-doors-instagram-icon,
#mirabella-doors-linkedin-icon {
    transition: 0.3s;
    transform: scale(1); 
}

#mirabella-doors-facebook-icon:hover,
#mirabella-doors-instagram-icon:hover,
#mirabella-doors-linkedin-icon:hover {
    transition: 0.3s;
    transform: scale(1.5); 
    color: black !important;
}

/* Media Queries */
/* Nav Bar */ 
@media only screen and (max-width: 991px) {
    .nav-link {
        border: 0;
    }
}

/* Home Page */
/* Carousel */
@media only screen and (max-width: 1206px) {
    .display-2 {
        font-size: 4.5rem;
        margin-bottom: 1.5rem !important;
    }
    .carousel-caption {
        bottom: 10% !important;
    }
}

@media only screen and (max-width: 992px) {
    .display-2 {
        font-size: 4rem;
        margin-bottom: 1rem !important;
    }
    .hero-image-paragraph-font {
        font-size: 1.5rem;
    }
    .carousel-caption {
        bottom: 5% !important;
    }
}

@media only screen and (max-width: 870px) {
    .display-2 {
        font-size: 3.5rem;
    }
    .hero-image-paragraph-font {
        font-size: 1.35rem;
    }
}

/* Mirabella Difference */
@media only screen and (max-width: 1199px) {
    .mirabella-difference-paragraph {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 768px) {
    #mirabellaDifferenceHeading {
        font-size: 2.5rem;
    }
    .mirabella-difference-paragraph,
    .core-value-paragraph {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 575px) {
    #mirabellaDifferenceHeading {
        font-size: 2rem;
    }
    .mirabella-difference-paragraph,
    .core-value-paragraph {
        font-size: .9rem;
    }
}

/* Core Values */
@media only screen and (max-width: 767px) {
    .core-value-paragraph {
        text-align: left !important;
    }
}

/* Featured Products */
@media only screen and (max-width: 450px) {
    .card-margin-xs-screen {
        /* margin-left: 5% !important;
        margin-right: 5% !important; */
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

/* Customer Reviews */
@media only screen and (min-width: 1700px) {
    .customer-review-text-div-left {
        margin-left: -14rem;
    }
    .customer-review-text-div-right {
        margin-left: 14rem;
    }
    .customer-review-img-div-right {
        margin-left: -14rem;
    }
}

@media only screen and (min-width: 1450px) and (max-width: 1699px) {
    .customer-review-text-div-left {
        margin-left: -10rem;
    }
    .customer-review-text-div-right {
        margin-left: 10rem;
    }
    .customer-review-img-div-right {
        margin-left: -10rem;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1449px) {
    .customer-review-text-div-left {
        margin-left: -6rem;
    }
    .customer-review-text-div-right {
        margin-left: 6rem;
    }
    .customer-review-img-div-right {
        margin-left: -6rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .customer-review-text-div-left {
        margin-left: -3rem;
    }
    .customer-review-text-div-right {
        margin-left: 3rem;
    }
    .customer-review-img-div-right {
        margin-left: -3rem;
    }
}

@media only screen and (max-width: 991px) {
    .customer-review-text {
        font-size: .85rem;
    }
}

@media only screen and (max-width: 767px) {
    .customer-review-text-div-left {
        margin-left: 0rem;
    }
    .customer-review-text-div-right {
        margin-left: 0rem;
    }
    .customer-review-img-div-right {
        margin-left: 0rem;
    }
}

/* Hero Components - All Pages */
@media only screen and (min-width: 1600px) {
    .hero-component-left-text-div,
    .hero-component-right-text-div {
        min-height: 750px;
    }
    .hero-component-title {
        margin-top: 9rem !important;
        margin-bottom: 7rem !important;
    }
}

@media only screen and (max-width: 1599px) {
    .hero-component-left-text-div,
    .hero-component-right-text-div {
        min-height: 650px;
    }
}

@media only screen and (max-width: 1450px) {
    .hero-component-left-text-div,
    .hero-component-right-text-div {
        min-height: 575px;
    }
    .hero-component-title {
        font-size: 2.8rem !important;
        margin-top: 7rem !important;
        margin-bottom: 7rem !important;
    }
    .hero-component-sub-text {
        font-size: 1.25rem !important;
    }
}

@media only screen and (max-width: 1199px) {
    .hero-component-left-text-div,
    .hero-component-right-text-div {
        min-height: 500px;
    }
    .hero-component-title {
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }
}

@media only screen and (max-width: 991px) {
    .hero-component-left-text-div,
    .hero-component-right-text-div {
        min-height: 450px;
    }
    .hero-component-title {
        font-size: 2.15rem !important;
        margin-top: 4rem !important;
        margin-bottom: 4rem !important;
    }
    .hero-component-sub-text {
        font-size: 1.125rem !important;
    }
}

@media only screen and (max-width: 767px) {
    .hero-component-left-text-div,
    .hero-component-right-text-div {
        min-height: 400px;
    }
    .hero-component-title {
        font-size: 2rem !important;
    }
    .hero-component-sub-text {
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 650px) {
    .hero-component-left-text-div,
    .hero-component-right-text-div {
        min-height: 350px;
    }
    .hero-component-title {
        font-size: 1.75rem !important;
        margin-top: 2.75rem !important;
        margin-bottom: 2.75rem !important;
    }
    .hero-component-sub-text {
        font-size: .85rem !important;
    }
}

/* Mb Difference Pg */
/* Arrow Component Right */
/* Text */
@media only screen and (max-width: 1450px) {
    #mirabellaDifferenceText {
        line-height: 1.6;
        font-size: .9rem;
    }
}

@media only screen and (max-width: 1115px) {
    #mirabellaDifferenceTitleId {
        font-size: 1.7rem;
    }
    #mirabellaDifferenceText {
        line-height: 1.5;
        font-size: .825rem;
    }
}

@media only screen and (max-width: 767px) {
    #mirabellaDifferenceTitleId {
        font-size: 1.2rem;
    }
    #mirabellaDifferenceText {
        line-height: 1.4;
        font-size: .775rem;
    }
}

/* Arrow Component Left */
/* Text */
@media only screen and (max-width: 1250px) {
    #meetTheOwnerText {
        line-height: 1.5;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1100px) {
    #meetTheOwnerTitleId {
        font-size: 1.7rem;
    }
    #meetTheOwnerText {
        line-height: 1.5;
        font-size: .9rem;
    }
}

@media only screen and (max-width: 767px) {
    #meetTheOwnerTitleId {
        font-size: 1.4rem;
    }
    #meetTheOwnerText {
        line-height: 1.4;
        font-size: .775rem;
    }
}

/* XS Arrow Transform Right */
/* Text */
@media only screen and (max-width: 450px) {
    .arrow-transform-text-div {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 375px) {
    #mirabellaDifferenceXSTitle {
        font-size: 1.375rem;
    }
    .arrow-transform-text-div {
        font-size: .865rem;
    }
}

/* XS Arrow Transform Left */
/* Text */
@media only screen and (max-width: 500px) {
    #meetTheOwnerXSText {
        font-size: 1rem;
        line-height: 1.6;
    }
}
@media only screen and (max-width: 450px) {
    #meetTheOwnerXSTitle {
        margin-top: 0;
        padding-bottom: 0;
        font-size: 1.5rem;
    }
    #meetTheOwnerXSText {
        font-size: .9rem;
    }
}
@media only screen and (max-width: 375px) {
    #meetTheOwnerXSTitle {
        font-size: 1.375rem;
    }
    #meetTheOwnerXSText {
        font-size: .865rem;
        line-height: 1.5;
    }
}

/* 404 Error */
@media only screen and (max-width: 699px) {
    #error404Container {
        height: 500px;
    }
    
    #error404Header {
        font-size: 3em;
    }

    #error404Para {
        font-size: .9em;
    }
} 

@media only screen and (max-width: 520px) {
    #error404Header {
        font-size: 2em;
    }
}