body {
    font-family: Futura-light;
}

.hero-image-paragraph-font {
    font-size: 1.5rem;
    font-family: 'Charm', cursive;
}

/* Carousel */
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}