<div class="row my-6">
    <div class="col-1"></div>
    <div class="col-10 mb-4">
        <h6 class="text-center">{{ arrowComponentLeft.title }}</h6>
        <img src="{{ arrowComponentLeft.image }}" class="img-fluid shadow-sm {{ arrowComponentLeft.animation }}" alt="{{ arrowComponentLeft.imageAlt }}">
    </div>
    <div class="col-1"></div>
</div>