<div class="row mb-6">
    <div class="col-1"></div>
    <div class="col-10">
        <h6 class="text-center">{{ arrowComponentRight.title }}</h6>
        <img src="{{ arrowComponentRight.image }}" class="img-fluid shadow-sm {{ arrowComponentRight.animation }}" alt="{{ arrowComponentRight.imageAlt }}">
    </div>
    <div class="col-1"></div>
</div>