<div class="container-fluid">
    <div class="hero-component-right-img-div">
        <img src="{{heroComponentRightImage}}" class="img-fluid" alt="{{heroComponentRightImageAlt}}">
    </div>
    <div class="hero-component-right-text-div">
        <h2 class="text-center">{{heroComponentRightTitle}}</h2>
    </div>
</div>