<div class="container my-6  {{ pageBreakerText.animation }}">
    <div class="module-line"></div>
    <p class="page-breaker-text text-center">{{ pageBreakerText.text }}</p>
    <div class="module-line"></div>
</div>