<div class="container my-6  {{ pageBreakerText.animation }}">
    <div class="module-line"></div>
    <p class="page-breaker-text text-center">
        {{ pageBreakerText.text }}
        <span class="ml-3 text-muted"><small><em>{{ pageBreakerText.custName }}</em></small></span>  
    </p>
    <div class="module-line"></div>
</div>